.playlist-form-container {
    color: #000000;
    width: 475px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2.188em;
    text-align: center;
}

.playlist-form {
    width: 390px;
    margin: auto;
}

.link-wrap, .password-wrap {
    position: relative;
    width: 300px;
    margin: auto;
    input {
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid $border-color;
        background-color: $input-bg-color;
        text-align: center;
    }
}

.link-wrap {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .flame {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
    }
    label {
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
    }
    input {
        width: 140px;
        font-weight: bold;
    }
}

.password-wrap {
    margin-bottom: 30px;
    opacity: 0.3;
    transition: 0.2s opacity ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.active {
        opacity: 1;
    }
    &:hover {
        opacity: 1;
    }
    input:focus .password-wrap{
        opacity: 1;
    }
    label {
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
    }
    input {
        width: 140px;
        display: inline-block;
    }
    .disclaimer-star {
        position: absolute;
        top: 0;
        right: -15px;
    }
}

.disclaimer {
    position: relative;
    margin-bottom: 1.563em;
    text-align: center;
    .disclaimer-star {
        position: absolute;
        top: -5px;
        left: -10px;
    }

    p {
        font-size: 0.85em;
        color: #787878;
    }
}

.start-button-wrap {
    text-align: center;
}

.disclaimer-star {
    color: $orange-color;
    font-weight: 500;
    font-size: 22px;
}
