.how-page-body {
    margin-bottom: 200px;
}

.lantern {
    font-weight: bold;
    padding: 1px 5px;
    background-color: #000000;
    color: #ffffff;
}

.explanation-container {
    &.what {
        justify-content: center;
    }
    &.how {
        margin-top: 5em;
        justify-content: space-between;
    }
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.explanation-box {
    &.how {
        width: 33%;
    }
    &.how-max {
        width: 100%;
    }
    &.what {
        width: 800px;
        p {
            margin-top: 2em;
            color: #333333;
            font-weight: 400;
        }
        h2 {
            font-weight: 600;
            margin: 1em 0;
        }
    }

    text-align: center;
    p {
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.5em;
    }
    .exp-img {
        width: 400px;
        height: 200px;
        display: block;
        margin: auto;
        &.click-start{
            background: url('/img/sprite-sheet-main-page-exp.png') 800px 0px;
        }
        &.copy-paste{
            background: url('/img/sprite-sheet-main-page-exp.png') 1200px 0px;
        }
        &.drag-drop{
            background: url('/img/sprite-sheet-main-page-exp.png') 0px 0px;
        }
        &.projector{
            background: url('/img/sprite-sheet-main-page-exp.png') 400px 0px;
        }
    }
}
