$main-font: "Segoe UI", sans-serif;
$main-color: #000000;
$hero-color: #ffffff;
$orange-color: #ed6d1a;
$border-color: #cccccc;
$input-bg-color: #f1f1f1;

$head-title-size: 2.250em;
$sub-title-size: 1.125em;
