#slideShow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.8);
    z-index: 998;
}

#go-fullscreen, #exit-fullscreen, #quit-slideshow {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    z-index: 999;
    opacity: 0.5;
    transition: 0.2s ease-in opacity;
    &:hover {
        opacity: 1;
    }
}

#go-fullscreen, #exit-fullscreen {
    left: 10px;
    top: 10px;
}

#quit-slideshow {
    top: 10px;
    right: 10px;
}

#prev-file, #next-file {
    z-index: 999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    opacity: 0.5;
    transition: 0.2s opacity ease-in;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

#prev-file {
    left: 10px;
}

#next-file {
    right: 10px;
}


.slide-show-list {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
}

.slide-show-item {
    position: absolute;
    opacity: 0;
    transition: 0.2s opacity ease-in;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 80%;
    }
    &.active {
        opacity: 1;
    }
}
