.dropzone {
    overflow-y: scroll;
    margin: auto;
    min-width: 40%;
    height: 185px;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    border-bottom: 1px solid #cccccc;
    color: #999999;
    padding: 10px;
    .dz-preview {
        margin: 10px;
    }
    h1 {
        font-size: 1.125em;
    }
    p {
        font-size: 1.750em;
        font-weight: bold;
    }
}

.title-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        margin-right: 0.2em;
    }
}

.icon-dropzone {
    display: block;
    width: 70px;
    height: 70px;
    background: url('/img/plus-icon.png');
    margin-bottom: 20px;
}


.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
    z-index: 201;
}
