@keyframes pulse {
    0% {
        opacity: 0.7;
        color: #303030;
    }
    25% {
        opacity: 1;
        color: $orange-color;
    }
    50% {
        opacity: 1;
        color: $orange-color;
    }
    100% {
        opacity: 0.7;
        color: #303030;
    }
}

.playlist-dropzone-wrapper {
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
    width: 30em;
    height: 90%;
}

.playlist-wrap {
    width: 100%;
    height: calc(100% - 185px);
    .playlist-list {
        width: 100%;
        height: 100%;
        padding: 10px 0px;
        box-sizing: border-box;
    }
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    .download, .play, .options, .confirm {
        text-decoration: none;
        display: block;
        color: #aaaaaa;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #ffffff;
            background-color: #000000;
        }
    }
    .play, .confirm {
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .duration {
        input {
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 5px;
            width: 25%;
        }
    }
    .duration, .autoplay, .confirm {
        box-sizing: border-box;
        width: 33%;
        text-align: center;
    }
}

.list {
    width: 100%;
    height: 85%;
    list-style: none;
    padding: 5px;
    margin: 10px 0 0 0;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    .playlist-item {
        width: 48%;
        margin-bottom: 0.2em;
    }
}

.error-list {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #cccccc;
}

.thumbnail {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: #cccccc;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%,-50%);
    }
    .overlay {
        z-index: 200;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(#000000, 0.39);
        i {
            cursor: pointer;
            color: #ffffff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            opacity: 1;
        }
    }
}
