.playlist-container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: auto;
}

.playlist-body {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-password-wrap {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    label {
        font-size: 18px;
        font-weight: 500;
        padding-right: 10px;
    }

    input {
        width: 250px;
        border-radius: 10px;
        border: 1px solid $border-color;
        background-color: $input-bg-color;
        text-align: center;
        padding: 10px 20px;
    }
}
