
.dropzone {
    margin: auto;
    min-width: 40%;
    min-height: 150px;
    border: 2px solid #cccccc;
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #999999;
    h1 {
        font-size: 1.125em;
    }
    p {
        font-size: 1.750em;
        font-weight: bold;
    }
}

.title-dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        margin-right: 0.2em;
    }
}

.icon-dropzone {
    display: block;
    width: 70px;
    height: 70px;
    background: url('/img/plus-icon.png');
    margin-bottom: 20px;
}
